/* Reset básico para os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos do body */
body {
    font-family: 'Roboto Mono', monospace;
    background: #FFFFFF;
}

/* Estrutura do container principal */
.container {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

/* Cabeçalho e título do site */
.header {
    background: #7923E2;
    width: 350px;
    min-height: 100vh;
    border-right: 1px solid #707070;
    padding: 35px 0 0 40px;
}

.header h1 {
    font-size: 45px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 62px; /* Ajustado para manter o espaço antes dos itens de menu */
}

/* Estilização da navegação lateral */
.navigation {
    display: flex;
    flex-direction: column;
}

.navigation a {
    font-size: 16px; /* Tamanho de fonte de exemplo para os itens de menu */
    color: #FFFFFF;
    text-decoration: none;
    padding: 18px 0; /* Valor de exemplo para altura de 55px nos itens de menu */
    border-bottom: 1px solid #FFFFFF;
    margin-left: 0.5px;
    transition: background-color 0.3s;
}

.navigation a:hover {
    background-color: #6f22dc; /* Cor de hover de exemplo */
}

/* Estilos da área de conteúdo principal */
.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f0f0f0;
}

/* ...outros estilos... */

/* Media queries para responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .header {
        width: 100%;
        min-height: auto;
    }
}
